<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        #card {
            float: left;
            margin: 5px 30px;
        }

        #image {
            height: 200px;
            width: 287px;

        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha3
    84-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBI
e4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
</script>
<h1>
    <center>Podcast Blog</center>
</h1>
<div><a href="/create" style="margin: 0 8px" class="btn btn-grey">New Create</a></div>
<div th:class="container">
    <div id="card" class="row" th:each="blog,status:${blogList}">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img id="image"
                     src="https://cdn.tgdd.vn/hoi-dap/1314184/Thumbnail/podcast-la-gi-co-gi-thu-vi-nghe-podcast-o-dau-thumb-1.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" th:text="${blog.title}">Card title</h5>
                    <p class="card-text">text
                    <p class="card-text" th:text="${blog.kolName}"/>
                    <p class="card-text" th:text="${blog.createDate}"/>
                    <p class="card-text" th:text="${blog.content}"/>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
</body>
</html>