<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        a {
            text-decoration: none;
            color: darkgreen;
        }
    </style>
</head>
<body>
<h1>
    <center>Product List</center>
</h1>
<table style="margin: auto; border-collapse: collapse" border="1">
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Supplier</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Detail</th>
    </tr>
    <tr th:each="product,status:${productList}">
        <td th:text="${status.count}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.supplier}"></td>
        <td><a th:href="@{/product/{id}/showEdit(id=${product.getId()})}">edit</a></td>
        <td><a th:href="@{/product/{id}/delete(id=${product.getId()})}">delete</a></td>
        <td><a th:href="@{/product/{id}/showDetail(id=${product.getId()})}">detail</a></td>
    </tr>
</table>
<br>
<center>
    <a th:href="@{/product/showCreate}">
        Add new product
    </a>
</center>

</body>
</html>